<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
  <php>
    <const name="FEDORAURL" value="http://localhost:8080/fedora"/>
    <const name="FEDORAUSER" value="fedoraAdmin"/>
    <const name="FEDORAPASS" value="fedoraAdmin"/>
    <const name="TEST_PNG_URL" value="http://islandora.ca/testfiles/tuque/test.png"/>
    <const name="TEST_XML_URL" value="http://islandora.ca/testfiles/tuque/woo.xml"/>
  </php>
  <testsuites>
    <testsuite name="Tuque Tests">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="clover.xml"/>
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>
